.pageBody{
    background-color: rgba(0,0,0,0) !important;
}
.linkButton{
    background-color: rgba(256, 256, 256, 0.1);
    font-size:1em;
    border-radius:10%;
    transition: 0.3s;
}
.post{
    background-color: rgba(256, 256, 256, 0.05) !important;
    background-clip: padding-box;
}
.photo{
    background-color: darkcyan;
    background-image: url("../assets/graphics/unsplashPinkV2.png");
    background-attachment: fixed;
    background-clip: padding-box;
	align-content: center;
	text-align: center;
}
.postButton{
    font-size:.9em;
    border-radius:10%;
    transition: 0.3s;
}
.break{
	padding: 1em;
}
.imgContainer{
	width:50%; 
	margin-left: auto; 
	margin-right: auto;
}
.shade{
	text-shadow: 2px 2px black;
}
.card-content{
	background-image: url("../assets/graphics/whiteUnsplash.png");
    background-attachment: fixed;
    background-clip: padding-box;
	color: white;
	text-shadow: 1px 1px black;
}
.photosub{
    font-size:1em;
    font-family: 'Manrope', sans-serif;
}
.gallery-arrow {
    margin-left: 30%;
    display: inline-block;
    animation: bounce 1s infinite;
}
.photoSource{
    object-fit: cover; 
    height: 100%;
}
.grid-mode .arrowbox{
    display: none;
}
@media screen and (max-width: 768px) {
    .list-mode .arrowbox{
        display: block;
    }
}
.arrowbox{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    color: cyan;
  }
.left-arrow {
    left: 7%;
}
.right-arrow {
    right: 7%;
}
.modal-image{
    min-width: 80%; /* Adjust the width as per your needs */
    margin: 0 auto;  /* Center the modal on the screen */
}
#homePage{
	background-image: url("../assets/graphics/unsplashV2.png");
}
#photoPage{
	background-image: url("../assets/graphics/greenUnsplash.png");
}
#meow{
    background-image: url("../assets/graphics/unsplashPinkV2.png");
    background-clip: padding-box;
	background-position: bottom;
}
#photography{
    background-image: url("../assets/graphics/greenUnsplash.png");
    background-clip: padding-box;
	background-position: bottom;
}
#name {
    font-size: 5.5em;
}
@media screen and (max-width: 768px) {
    #name {
        font-size: 3em;
    }
}
#lineBreak{
    margin-top:-2%;
    background-color: darkcyan;
    transition: 0.3s;
}
#lineBreak:hover{
    background-color: white;
}
#infoArea{

}
#downArrow{
    font-size:2em;
    transition: 0.3s;
}
#downArrow:hover{
    color: darkcyan;
}
#arrow-container {
    display: inline-block;
    animation: bounce 1s infinite;
}
#posts{
    padding-bottom:5%;
    overflow-x: hidden;
}
#photos{
    padding-bottom:5%;
    overflow-x: hidden;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  html {
    scroll-behavior: smooth;
  }
